.firstdiv{
    margin-left: -15px;
    margin-right: -15px;
}
.unorderedlist a{
    display: inline-block;
    margin:0 15px;
    text-decoration: none;
    color:#000;
}
.unorderedlist a:hover{color:blue;}
td{padding: 5px;}
th{text-align: center}
ul#demo{
    position: relative;
    top:10px;
    width: 175px;
    background: #fff;
    color:#000;
}
ul#demo li{
    list-style: none;
    text-transform: capitalize;
}
*{color:red;}